[Desktop Entry]
Name=Key Remap
Exec=sh -c 'setxkbmap -option ctrl:nocaps && xmodmap -e "keycode 48 = ISO_Level3_Shift" && xmodmap -e "keycode any = apostrophe quotedbl" && xcape -e "Control_L=Escape;ISO_Level3_Shift=apostrophe"'
Terminal=false
Type=Application
StartupNotify=false
