[Desktop Entry]
Name=Key Remap
Exec=sh -c "setxkbmap -option ctrl:nocaps,shift:both_capslock,lv3:ralt_switch && xcape"
Terminal=false
Type=Application
StartupNotify=false
